body {
    background-color: #1A1A1D;
    color: #E5E5E5;
}

a {
    color: #4E82F0;
}

h1, h2, h3, h4, h5, h6 {
    color: #E5E5E5;
    border-bottom: 1px solid #4E82F0;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #4E82F0;
    padding: 0.5em 1em;
}

pre, code {
    background-color: #2B2B2B;
    color: #E5E5E5;
    font-family: "Fira Code", monospace;
    border: 1px solid #4E82F0;
    padding: 0.5em;
}

blockquote {
    background-color: #2B2B2B;
    color: #E5E5E5;
    border-left: 5px solid #4E82F0;
    padding: 1em;
    margin: 0;
}

hr {
    border: 1px solid #4E82F0;
}

img {
    max-width: 100%;
    height: auto;
}
